@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.container {
  max-width: 819px;
  margin: 0 auto;
  /* overflow: auto; */
  padding: 0 40px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 7px 5px 0 rgb(0 0 0 / 5%);
}

nav {
  display: inline-block;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
}
li {
  display: list-item;
}
.navbar ul {
  display: flex;
}
.navbar .flex {
  /* justify-content: space-between; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.navbar a {
  padding: 10px;
}
.logo a{
  padding: 0;
}
.navbar ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #c5c5c5;
}
.navbar ul li a:hover {
  color: #01d647;
}
nav .fa {
  display: none;
}
.logo {
  padding-right: 200px;
}
.logo .text {
  border-radius: 50%;
  border-style: none solid none none;
  border-color: #01d647;
  border-width: 5px;
}
.logo .text p {
  padding: 5px;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  color: #01d647;
  padding-right: 20px;
  font-weight: 600;
}
@media (max-width: 750px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar a {
    padding: 0;
    font-size: 14px;
  }
  .navbar ul li {
    display: block;
  }
  .navbar li {
    padding-bottom: 20px;
    /* font-size: 14px; */
  }
  .nav-links {
    position: fixed;
    background: rgba(111, 123, 139, 0.9);
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    overflow: hidden;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #01d647;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .navbar .flex {
    justify-content: space-between;
    /* display: flex; */
    /* justify-content: flex-start; */
    align-items: center;
    height: 100%;
  }
}

.showcase {
  background-image: linear-gradient(
      rgba(58, 66, 75, 0.9),
      rgba(78, 86, 96, 0.7)
    ),
    url("images/mypic.png");
  /* position: relative; */
  height: 1088px;
  /* width: 1615px; */
  background-size: cover;
  object-position: 50% 50%;
  /* background-color: #324158; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.name {
  /* margin: 223px 0px 49px calc((100% - 980px) * 0.5); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  /* padding-left: 288px; */
  align-items: flex-start;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
}
.name h1 {
  color: #fff;
}
.name span {
  color: #01d647;
}
.name h1 .second {
  letter-spacing: 4px;
}
.name h5 {
  padding-top: 30px;
  padding-bottom: 50px;
}
.name h5 span {
  color: #fff;
  font-size: 26px;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 5.2px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1100px) {
  .name {
    font-size: 40px;
    padding: 47px;
  }
  .name h5 span {
    font-size: 22px;
  }
}
@media (max-width: 1490px) {
  .showcase {
    /* background-size: contain;
        background-repeat: no-repeat;
        position: relative; */
    /* background-attachment: scroll;
        height: auto; */
  }
}
@media (max-width: 900px) {
  .name {
    font-size: 34px;
    padding-top: 80px;
  }
  .name h5 span {
    font-size: 18px;
  }
  .logo .text p {
    font-size: 26px;
    padding-right: 15px;
  }
}
@media (max-width: 750px) {
  .name {
    font-size: 32px;
    padding-top: 70px;
  }
  .name h5 span {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .showcase {
    background-size: cover;
    background-position: right;
    height: 647px;
  }
  .name {
    font-size: 24px;
    padding-top: 60px;
    padding: 34px;
  }
  .name h5 span {
    font-size: 14px;
    letter-spacing: 3.5px;
    flex-direction: column;
  }
  .name h5 {
    padding-top: 27px;
    padding-bottom: 0;
  }
}
.resume {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  background: #323a50;
  margin-top: 145px;
}
.resume .logo {
  padding-right: 0;
  margin: 70px 0 70px;
}
.resume .logo .text p {
  font-size: 64px;
}
.resume .para {
  font-weight: 300;
  color: #fff;
  font-size: 15px;
  padding: 0px 125px 59px 125px;
  line-height: 2em;
  text-align: center;
}
.resume .button {
  border: 1px solid #01d647;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 85px;
  cursor: pointer;
}

.button a::hover{
  background-color: #01d647;
  color: #fff;
  transition: 1s;
}
@media (max-width: 1100px) {
  .resume .logo {
    margin: 50px 0 35px;
  }
  .resume .logo .text p {
    font-size: 48px;
  }
  .resume .para {
    padding: 0px 120px 59px 120px;
  }
  .resume .button {
    margin-bottom: 80px;
  }
}
@media (max-width: 750px) {
  .resume .para {
    padding: 0px 40px 50px 40px;
  }
}
@media (max-width: 480px) {
  .resume {
    margin-top: 65px;
  }
  .resume .logo {
    margin: 0 0 35px;
  }
  .resume .logo .text p {
    font-size: 36px;
  }
  .resume .para {
    padding: 0 12px 40px 12px;
    line-height: 2rem;
    font-size: 14px;
  }
  .resume .button {
    margin-bottom: 50px;
    font-size: 14px;
  }
}

.third {
  background: linear-gradient(rgb(0 0 0 / 90%), rgb(54 72 73 / 70%)),
    url(images/2.png);
  /* width: 1476.8px; */
  width: 100%;
  height: 1072px;
  background-size: cover;
  background-attachment: fixed;
}
.skills {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 46px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading span {
  color: #bfc7d4;
}
.bars {
  display: grid;
  grid-template-columns: 18% 82%;
  align-items: center;
  padding-bottom: 24px;
}
.bars .left {
  font-size: 16px;
  /* display: flex;
    flex-direction: column; */
}
.bars .left span {
  padding-bottom: 10px;
  color: #c5c5c5;
}
.bars .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bars .right .html {
  width: 85%;
  background: #01d647;
  height: auto;
}
.bars .right .css {
  width: 80%;
  background: #01d647;
  height: auto;
}
.bars .right .javascript {
  width: 40%;
  background: #01d647;
  height: auto;
}
.bars .right .c {
  width: 65%;
  background: #01d647;
  height: auto;
}
.bars .right .git {
  width: 60%;
  background: #01d647;
  height: auto;
}
.bars .right .github {
  width: 75%;
  background: #01d647;
  height: auto;
}

.progress {
  display: flex;
  flex-direction: row;
}
.value {
  font-size: 10px;
  padding-left: 10px;
  color: #c5c5c5;
}
.right .delay {
  transition: 0.4s linear;
  transition-property: width, background-color;
  animation: load 2s;
}
@keyframes load {
  from {
    width: 0;
  }
  /* to   { width: 100% } */
}

@media (max-width: 1100px) {
  .bars {
    grid-template-columns: 20% 80%;
  }
}
@media (max-width: 900px) {
  .heading {
    font-size: 42px;
  }
}
@media (max-width: 750px) {
  .bars .left span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .heading h3 {
    font-size: 20px;
    letter-spacing: 0.3rem;
  }
  .skills .heading h5 {
    padding-bottom: 20px;
  }
  .bars {
    grid-template-columns: auto;
  }
  .bars .left {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .third{
    height: 1110px;
  }
}

.fourth {
  background: linear-gradient(rgb(0 0 0 / 90%), rgb(54 72 73 / 70%)),
    url(images/4.png);
  /* width: 1476.8px; */
  width: 100%;
  height: 1695px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth .flex {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 100%;
}
.gallery {
  display: flex;
  flex-direction: row;
  width: 980px;
  justify-content: center;
}
.gallery .image iframe {
  height: 407px;
  border: none;
  width: 407px;
  /* overflow: scroll; */
  /* scrollbar-width: 0; */
}
/* iframe::-webkit-scrollbar{
  display: none;
  width: 0 !important
} */
.name h5 span .files {
  color: #bfc7d4;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 750px) {
  .heading {
    font-size: 34px;
  }
}
@media (max-width: 500px) {
  .gallery {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .gallery .image iframe{
        width: 388px;
  }
}

/* timeline */
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    #01d647 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    #01d647 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    #01d647 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    #01d647 100%
  );
  background: -o-linear-gradient(
    top,
    #01d647 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    #01d647 100%
  );
  background: -ms-linear-gradient(
    top,
    #01d647 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    #01d647 100%
  );
  background: linear-gradient(
    to bottom,
    #01d647 0%,
    #01d647 8%,
    #01d647 92%,
    #01d647 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  /* background: rgb(248,248,248); */
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 400;
  text-align: left;
  color: #01d647;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/* .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(11, 237, 71, 0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  } */

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #01d647;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  /* content: ""; */
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  /* content: ""; */
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  /* background: rgb(248,248,248); */
  color: #01d647;
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and ((min-width: 400px) and (max-width: 660px)) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}
.contact {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding-top: 50px;
  background: #323a50;
  margin-top: 145px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 70px;
}
.para {
  text-align: left;
  padding-right: 25px;
}
.para2 {
  text-align: left;
  padding-top: 20px;
}
.para h3 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-bottom: 10px;
}
.para p {
  line-height: 1.9em;
  font-size: 15px;
  color: #fff;
  text-transform: initial;
  font-weight: 200;
}
.para p .email {
  padding-top: 20px;
}
.email a {
  text-decoration: none;
  color: white;
}
.messaging {
  align-self: flex-start;
}
input[type="tel"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0px;
  resize: vertical;
}
#subject {
  resize: none;
  height: 100px;
}
.one {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 10px;
}
.two {
  padding-bottom: 20px;
}
/* .three {
} */

.tap {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: #01d647;
  padding: 10px;
  font-weight: 300;
  text-transform: capitalize;
  cursor: pointer;
}

.tap::hover {
  background: #323a50;
}
@media (max-width: 650px) {
  .contact {
    align-items: center;
    display: flex;
    text-align: center;
    padding-top: 50px;
    background: #323a50;
    flex-direction: column;
    padding: 74px;
  }
  .one {
    display: flex;
  }
  .two {
    padding-bottom: 10px;
    padding-top: 3px;
  }
  .para {
    padding-bottom: 45px;
  }
}
@media (max-width: 480px) {
  .contact {
    padding: 35px;
  }
  .one {
    padding-bottom: 5px;
  }
  .para h3 {
    text-align: center;
  }
}
.social {
  width: 100%;
  background: #323a50;
  display: flex;
  justify-content: center;
  color: #fff;
}
.social .fa-brands {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  padding-bottom: 25px;
}
.fifth {
  background: linear-gradient(rgb(0 0 0 / 90%), rgb(54 72 73 / 70%)),
    url(images/5.png);
  height: 623px;
  background-attachment: fixed;
}
.footer {
  width: 100%;
  background: #323a50;
  margin-top: 164px;
}
.copyright p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #bfc7d4;
}
.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media(max-width: 1100px){
  .fourth{
    height: 2443px;
  }
}
@media(max-width: 900px){
  .fourth{
    height: 2514px;
  }
}
@media(max-width: 660px){
  .fourth{
    height: 2744px;
  }
  .fifth{
    height: 746px;
  }
}
@media(max-width: 480px){
  .fourth{
    height: 2800px;
  }
  .copyright p {
    font-size: 14px;
    
  }
  .footer{
    margin-top: 240px;
  }
}